@model HotProperty_Web.Models.VM.PropertyNumberCreateVM

<form asp-action="PropertyNumberCreate">
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">Create Property Number</h1>
        <hr />

        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-2">
                <label asp-for="PropertyNumber.PropertyNo" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="PropertyNumber.PropertyNo" class="form-control" />
                <span asp-validation-for="PropertyNumber.PropertyNo" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="PropertyNumber.PropertyID" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <select asp-for="PropertyNumber.PropertyID" class="form-select" asp-items="@Model.PropertyList">
                    <option disabled selected>--Select Property--</option>
                </select>
                <span asp-validation-for="PropertyNumber.PropertyID" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="PropertyNumber.SpecialDetails" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <textarea asp-for="PropertyNumber.SpecialDetails" class="form-control" rows="5"></textarea>
                <span asp-validation-for="PropertyNumber.SpecialDetails" class="text-danger"></span>
            </div>
           
            <div class="col-5 offset-2">
                <a asp-action="PropertyNumberIndex" asp-controller="PropertyNumber" class="btn-primary btn form-control ">Back to List</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Create" class="btn btn-success form-control" />
            </div>
        </div>
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}